.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    align-content: space-between;

    .titles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        } 
    }

}